In [86]:
import string
def remove_punc(str1):
    a = str.maketrans('', '', string.punctuation)
    str2 = str1.translate(a)
    return str2
str1 = "Nature is the ultimate source of our living. Both living and non-living things include nature, and everyone is interdependent, which helps maintain the ecosystem"
str2 = remove_punc(str1)
print(str2)

Nature is the ultimate source of our living Both living and nonliving things include nature and everyone is interdependent which helps maintain the ecosystem

In [51]:
def word_split(str2):
    str2 = str2.strip()
    L1 = str2.split()   
    return L1
str2 = word_split(str1)
str2

['Nature',
 'is',
 'the',
 'ultimate',
 'source',
 'of',
 'our',
 'living.',
 'Both',
 'living',
 'and',
 'non-living',
 'things',
 'include',
 'nature,',
 'and',
 'everyone',
 'is',
 'interdependent,',
 'which',
 'helps',
 'maintain',
 'the',
 'ecosystem']

In [75]:
import string
def word_dict(L1):
    d1 = {}
    for word in L1:
        # If the word is already in the dictionary, increment its count by 1
        if word in d1:
            d1[word] += 1
        # If the word is not in the dictionary, add it with a count of 1
        else:
            d1[word] = 1
    
    return d1
result = word_dict(str2)
print(result)

{'N': 1, 'a': 7, 't': 12, 'u': 6, 'r': 6, 'e': 17, ' ': 23, 'i': 15, 's': 7, 'h': 7, 'l': 6, 'm': 3, 'o': 7, 'c': 4, 'f': 1, 'v': 4, 'n': 16, 'g': 4, 'B': 1, 'd': 5, 'y': 2, 'p': 2, 'w': 1}

In [83]:
import pandas as pd
def word_freq_table(d1):
    word_freq_list = []
    for word, count in d1.items():
        word_freq_list.append((word, count))
    df = pd.DataFrame(word_freq_list, columns=["word", "No of occurrence"])
    return df
result1= word_freq_table(result)
result1

   word  No of occurrence
0     N                 1
1     a                 7
2     t                12
3     u                 6
4     r                 6
5     e                17
6                      23
7     i                15
8     s                 7
9     h                 7
10    l                 6
11    m                 3
12    o                 7
13    c                 4
14    f                 1
15    v                 4
16    n                16
17    g                 4
18    B                 1
19    d                 5
20    y                 2
21    p                 2
22    w                 1